:root{
    --button_background_color: #2411FF;
    --button_border_color: #2411FF;
    --button_border_radius: 5rem; 
    --button_drop_shadow_color: #2411FF;
    --button_text_color: white;
    --button_font_size: 1.25rem;
    --button_height: fit-content;
    --button_side_padding: 3rem;
    --button_align_items: center;
    --button_justify_content: center;
}

.default {
    display: flex;
    padding: 0.3rem;
    transition: 0.1s;

    background-color: var(--button_background_color);
    border: 1px solid var(--button_border_color);
    border-radius: var(--button_border_radius);

    color: var(--button_text_color);
    font-size: var(--button_font_size);

    height: var(--button_height);
    padding-left: var(--button_side_padding);
    padding-right: var(--button_side_padding);

    align-items: var(--button_align_items);
    justify-content: var(--button_justify_content);
}

.default:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px var(--button_drop_shadow_color));
}


/* Icon button */
.iconButton{
    height: 4rem;
}

.iconButton:hover {
    cursor: pointer;
}


/* Text Icon Button */
.textIconButton {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 0.6rem;

    height: fit-content;

    color: black;

    border-radius: 5rem;
    border: 1px solid #CCCCCC;
}

.textIconButton:hover {
    cursor: pointer;
}

.textIcon {
    height: 1.5rem;
}