.default {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: fit-content;
}

.button:hover {
    cursor: pointer;
}

/* default button css */
.defaultButton{
    color: white;
    font-size: 1.5rem;

    border-radius: 5rem;
    background-color: #2411FF;

    width: 6rem;
    padding: 0.3rem;
}

.defaultButton:hover {
    filter: drop-shadow(2px 2px 2px #2411FF);
}


/* icon buttons css */

.iconShadow:hover{
    filter: drop-shadow(2px 2px 2px #000);
}

.smallIcon{
    height: 1.5rem;
}

.mediumIcon{
    height: 3rem;
}

.bigIcon{
    height: 5rem;
}

/* Login Button */
.loginButton{
    display: flex;
    gap: 1rem;

    padding: 0.5rem;
    width: 15rem;


    border: 1px solid #e0e0de;
    border-radius: 5rem;
}

.loginIcon{
    height: 1.5rem;
}